//fonts
$fontPrimary: 'PT Sans', sans-serif;
$fontSecondary: 'Oswald', sans-serif;

//colors

$colorBlue: #0082C8;
$colorBlack: #222;
$colorWhite: #fff;
$colorGray: #828282;

// sizes

$tablet: 768px;
$tablet-landscape: 1024px;